@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    color: #537A7A;
}

.port-header {
    background-color: #CCF2F4;
    height: 200px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.header-content {
    width: 1000px;
    display: inline-block;
    margin: 86px auto;
    overflow: hidden;
}

.logo {
    float: left;
}

.nav-menu-container {
    float: right;
}

.nav-menu {
    list-style: none;
}

.nav-item:first-of-type {
    margin-right: 0;
}

.nav-item {
    float: right;
    margin: 0 24px;
}

.nav-item>a {
    text-decoration: none;
}

.nav-item>a:link, .nav-item>a:visited, .nav-item>a:active {
    color: #537A7A;
}

.content-background {
    background-color: #F0FEFF;
}

.intro-container {
    width: 1000px;
    height: 390px;
    margin: 0 auto;
}

.intro-title {
    font-weight: 700;
    font-size: 50px;
    padding-top: 50px;
    text-align: center;
}

.intro-text {
    margin: 50px 80px 140px 80px;
    font-size: 23px;
    font-weight: 300;
}

.projects {
    width: 830px;
    margin: 0 auto;
}

.project {
    width: 320px;
    background: #F4F9F9;
    border-radius: 10px;
    padding: 40px 0;
}

.project-title {
    text-align: center;
}

.tech-logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 60px;
}

.project-description {
    margin: 0 27px 30px 27px;
}

.project-btn {
    background-color: #537A7A;
    width: 168px;
    height: 43px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.btn-label {
    color: #CCF2F4;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    padding: 15px 0;
}